<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.name}さんの投稿一覧"%>
      </h2>
      
      <div class="user__card">
        <%= render partial: 'items/item', collection: @user.items %>
      </div>
    </div>
  </div>
</div>